.app-header
  %nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-info
    .container
      = link_to "Hospital Management", root_path, class: "navbar-brand"
      %span.navbar-toggler(aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation" data-bs-target="#navbar-header" data-bs-toggle="collapse" type="button")
        %span.navbar-toggler-icon
      #navbar-header.collapse.navbar-collapse
        %ul.navbar-nav.ms-auto
          %li.nav-item.text-sm-center
            - if user_signed_in?
              = link_to "My Profile", user_path(current_user), class: "btn btn-outline-light"
            - elsif doctor_signed_in?
              = link_to "My Profile", doctor_path(current_doctor), class: "btn btn-outline-light"
            - else
              = link_to "Log In", root_path, class: "btn btn-outline-success"
          %li.nav-item.text-sm-center{ style: 'margin-left: 10px;' }
            - if user_signed_in?
              = button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger"
            - elsif doctor_signed_in?
              = button_to "Log Out", destroy_doctor_session_path, method: :delete, class: "btn btn-outline-danger"
