.card.mt-5.text-center.position-absolute.start-50.translate-middle{ style: 'top: 35%; width: 60rem;' }
  .card-header
    %ul.nav.nav-tabs.card-header-tabs
      %li.nav-item
        %span.nav-link.active My Appointments
  .card-body.mt-2
    = link_to 'New Appointment', new_appointment_path, class: 'btn btn-outline-primary ml-6 text-lg-end'
    %hr
    %table.table
      %thead.thead-light
        %tr
          %th(scope="col") #
          %th(scope="col") Doctor
          %th(scope="col") Category
          %th(scope="col") Date and Time
          %th(scope="col")
      %tbody
        %tr
          - @appointments.each do |appointment|
            %th(scope="row") #{appointment.id}
            %td= appointment.doctor
            %td= appointment.category.public_label
            %td= appointment.start_time
            %td= link_to 'Edit', edit_appointment_path(appointment), class: 'btn btn-outline-primary' unless appointment.closed?