.card.text-center.mt-5.position-absolute.start-50.translate-middle{ style: 'top: 100%; width: 30rem;' }
  .card-body.mt-5
    = simple_form_for @record, url: user_path(@record), method: :patch, html: { multipart: true, class: 'form-group' } do |f|
      = f.input :avatar, class: 'form-control-file mb-5', id: 'exampleFormControlFile1', as: :file, hint: 'Upload your avatar', input_html: { accept: '.png, .jpeg, .jpg' }
      = f.input :first_name, class: 'form-control mb-3', placeholder: 'First name', required: true, autofocus: true, hint: 'Enter your first name'
      = f.input :last_name, class: 'form-control mb-3', placeholder: 'Last name', required: true, hint: 'Enter your last name'
      = f.input :email, class: 'form-control mb-3', placeholder: 'Email', required: true, hint: 'Enter your email'
      = f.input :gender,
            required: true,
            collection: User.genders.keys,
            include_blank: 'Tap to select',
            input_html: { data: { selected: @record.gender }, onchange: 'this.dataset.selected = this.value' }
      = f.input :date_of_birth, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year - 18, class: 'form-control mb-3', selected: f.object.date_of_birth
      = f.input :phone_number, class: 'form-control mb-3', placeholder: 'Phone number', required: true, hint: 'Enter your phone number'
      = f.input :city, class: 'form-control mb-3', placeholder: 'City', required: true, hint: 'Enter your city'
      = f.input :street, class: 'form-control mb-3', placeholder: 'Street', required: true, hint: 'Enter your street'
      = f.input :house_number, class: 'form-control mb-3', placeholder: 'House number', required: true, hint: 'Enter your house number'
      .form-actions
        = link_to 'Back', user_path(@record), class: 'btn btn-outline-primary'
        = f.button :submit, "Update", class: "btn btn-outline-success"
