.card.mt-5.position-absolute.start-50.translate-middle{ style: 'top: 55%; width: 30rem;' }
  = image_tag @record.avatar.url(:thumb), class: 'card-img-top mt-3', style: 'width: 10rem; height: 10rem;'
  .card-body
    %h5.card-title
      = "#{[@record.first_name, @record.last_name].compact.join(' ')}"
    %p.card-text Your details are below
    %table.table.table-bordered
      %tbody
        %tr
          %td.bg-light First name
          %td.fst-italic
            = @record.gender
        %tr
          %td.bg-light Date of birth
          %td.fst-italic
            = @record.date_of_birth
        %tr
          %td.bg-light Email
          %td.fst-italic
            = @record.email
        %tr
          %td.bg-light Phone
          %td.fst-italic
            = @record.phone_number
        %tr
          %td.bg-light City
          %td.fst-italic
            = @record.city
        %tr
          %td.bg-light Street
          %td.fst-italic
            = @record.street
        %tr
          %td.bg-light House
          %td.fst-italic
            = @record.house_number
  .card-body.text-lg-center
    = link_to 'Edit Personal Details', edit_user_path(@record), class: 'btn btn-primary btn-lg btn-block'