.card.mt-5.text-center.position-absolute.start-50.translate-middle{ style: 'top: 35%; width: 60rem;' }
  .card-header
    %ul.nav.nav-tabs.card-header-tabs
      %li.nav-item
        %span.nav-link.active My Appointments
    %hr
    %table.table
      %thead.thead-light
        %tr
          %th(scope="col") #
          %th(scope="col") Patient
          %th(scope="col") Phone Number
          %th(scope="col") Date and Time
          %th(scope="col")
      %tbody
        - @appointments.each do |appointment|
          %tr{ class: "#{'table-danger opacity-50' if appointment.closed?}" }
            %th(scope="row") #{appointment.id}
            %td= appointment.user&.full_name
            %td= appointment.user&.phone_number
            %td= appointment.start_time.strftime('%A, %B %d, %Y at %I:%M %p')
            - if appointment.active?
              %td= link_to 'Add or Update Prescription', add_recommendation_appointment_path(appointment), class: 'btn btn-outline-primary'