!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HospitalManagement
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application"
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, class: 'alert alert-primary alert-dismissible text-center fade show', style: "top: 50px;"
    - if error_messages.any?
      %div.alert.alert-primary.text-center.alert-dismissible.fade{ style: "top: 50px;" }
        %h2= "#{pluralize(error_messages.count, "error")} prohibited this action:"
        %ul
          - error_messages.each do |message|
            %li= message
    = render 'partials/header'
    = yield
